@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,75,100..900;1,75,100..900&display=swap');

html {
	background-color: #101010;
}

body {
	opacity: 0;
	padding: 2ch;
	font-family: 'Noto Sans';
	font-weight: 300;
	color: whitesmoke;
    text-shadow: 3px 5px 8px #000000;
	animation: fade-in 5s ease forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

h1,
h2,
h3 {
	text-align: center;
}

p {
	text-align: justify;
}

strong {
	font-weight: 500;
}

img {
	display: block;
	margin: auto;
	height: 15ch;
	width: 15ch;
}

a {
	text-decoration: none;
	color: dodgerblue;
}