@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,75,200..1000;1,6..12,75,200..1000&display=swap");

body {
    color: white;
    background: radial-gradient(
            circle,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.7) 100%
        ),
        #080808;
    font-family: "Nunito Sans";
    font-weight: 300;
    text-align: center;
    text-shadow: 3px 5px 8px #000000;
    margin: 0;
}

p {
    scale: 0.9;
    transition: all 1s ease;
    padding: 1ch;
}


p:hover {
    scale: 1;
}

img {
    width: 150pt;
}

a {
    color: darkcyan;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: cyan;
}

li {
    margin-left: 30%;
    text-align: left;
}
